footer {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px 16px 0 0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: var(--text-color);
    padding: 0.5rem 2rem;
    text-align: center;
    font-size: 1rem;
    margin-top: 0;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    flex-shrink: 0;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer a {
    text-decoration: underline;
}

.collaboration-container {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.footer-logo {
    height: 38px;
    width: auto;
    transition: transform 0.3s ease;
}
.footer-logo:first-child {
    margin-top: 1rem;
}

.footer-logo:hover {
    transform: scale(1.05);
}

.vertical-spacer {
  height: 35px;
  width: 2px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.footer-left {
  display: flex;
  align-items: center;
}


.footer-right {
  font-family: 'Gloria Hallelujah';
  display: flex;
  align-items: center;
  gap: 0.5rem;
  /* Optional: text-align: right; */
}
